@import "./variables";

@mixin font-face(
	$name,
	$path,
	$weight: null,
	$style: null,
	$exts: ttf woff woff2
) {
	$src: null;
	$formats: (
		ttf: "truetype",
		woff: "woff",
		woff2: "woff2",
	);

	@each $ext in $exts {
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append(
			$src,
			url(quote("/" + $path + "." + $ext)) format(quote($format)),
			comma
		);
	}

	@font-face {
		font-display: swap;
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

/* Fonts */
@mixin opentype-feature-discretionary-ligatures {
	font-feature-settings: "dlig" on;
	font-variant-ligatures: discretionary-ligatures;
}

@mixin font-base {
	@include opentype-feature-discretionary-ligatures;

	font-family: $font-family-stack;
	-webkit-font-smoothig: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin responsive {
	// 320 - 480px: Mobile devices
	:root {
		--edge-margin: 20px;
	}

	// 481 - 768px: Tablets
	@media screen and (min-width: 481px) and (max-width: 768px) {
		:root {
			--edge-margin: 24px;
		}
	}

	// 769 - 1024px: Small screens
	@media screen and (min-width: 769px) and (max-width: 1024px) {
		:root {
			--edge-margin: 36px;
		}
	}

	// 1025 - 1280px: Desktop, medium screens
	@media screen and (min-width: 1025px) and (max-width: 1280px) {
		:root {
			--edge-margin: 48x;
		}
	}

	// 1201 - more: Large screen, TV
	@media screen and (min-width: 1201px) {
		:root {
			--edge-margin: 56px;
		}
	}
}
