@import "./normalize";
@import "./reset";
@import "./fonts";
@import "./mixins";
@import "./variables";

@include responsive;

html {
	font-size: 62.5%; // 10px
	line-height: 1.5;

	body {
		@include font-base;

		/* Please make your own Typography Component / Styles */
		// default font styling
		font-size: 1.6rem;
	}
}
