.container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.header {
	height: 96px;
}

.main {
	display: grid;
	grid-template-columns: auto 1fr;
}

.nav {
	min-width: 56px;
}

.footer {
	height: 96px;
}
